{
    "version" : "2018-05-29",
    "operation" : "Query",
    "index": "internal_id_index",
    "query" : {
      "expression": "internal_id = :internal_id",
        "expressionValues" : {
          ":internal_id" : { "S" : "${context.arguments.internal_id}" }
        }
    }
    #if( ${context.arguments.count} )
        ,"limit": ${context.arguments.count}
    #end
    #if( ${context.arguments.nextToken} )
        ,"nextToken": "${context.arguments.nextToken}"
    #end
}